apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: '{{ apps_project }}'
stringData:
  BACKEND_CLIENT_ID: '{{ backend_client_id }}'
  BACKEND_CLIENT_SECRET: '{{ backend_client_secret }}'
type: Opaque
