kind: ApicurioRegistry
apiVersion: registry.apicur.io/v1
metadata:
  name: registry
spec:
  configuration:
    kafkasql:
      bootstrapServers: 'cluster-kafka-bootstrap.{{ kafka_project }}.svc.cluster.local:9092'
    persistence: kafkasql